<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto con DisCor</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../estilos/estilos.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,200&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400&display=swap" rel="stylesheet">
</head>

<body>
    
    <header>
        <a href="../index.html"><img src="../imagenes/logo-discor-sin-letras.png" alt="Logo DisCor"></a>
        <a  href="javascript:void(0);" class="icon" onclick="myFunction()">
            <svg class="menuIcon" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </a>


        <nav id="myTopNav" class="topNav responsive">
            <ul id="menuBlock">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="rubros.html">Rubros</a></li>
                <li><a href="nuestra-empresa.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="area-clientes.html">Clientes</a></li>
            </ul>

        </nav>
        <article>
            <div class="social">
                <ul>
                    <li><a target="_blank" href="https://instagram.com/info_discor"><img id="iconoWhatsInsta"
                                class="img-thumbnail" src="../imagenes/instagram-img.png"
                                alt="Imagen Instagram DisCor"></a></li>
                    <li><a class="instaIcon" target="_blank"
                            href="https://api.whatsapp.com/send?phone=+543517638778&text=Buenas%20DisCor!%20%C2%BFC%C3%B3mo%20est%C3%A1n?%20Quer%C3%ADa%20realizar%20una%20consulta%20sobre..."><img
                                class="img-thumbnail" id="iconoWhatsInsta" src="../imagenes/whatsapp-icon.png"
                                alt="Whatsapp de DisCor"></a>
                    </li>
                    <!-- <li><a href="http://www.discor.com.ar/CarritoCompras/Discor.msi"><svg
                                xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-laptop" viewBox="0 0 16 16">
                                <path
                                    d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z" />
                            </svg></a></li> -->
                </ul>
            </div>
        </article>

    </header>
    <main>
        <h2>Contáctate</h2>
        <div class="grid container-fluid">
            <div class="contactForm">
                <form class="form" id="form" name="form" action="https://formspree.io/f/mdoybjeg" method="POST">
                    <p>
                        <label>Nombre</label>
                        <input type="text" name="Nombre" required>
                    </p>
                    <p>
                        <label>Email</label>
                        <input type="email" name="email" required>
                    </p>
                    <p>
                        <label>Teléfono</label>
                        <input type="tel" name="Teléfono" required>
                    </p>
                    <p>
                        <label>Asunto</label>
                        <input type="text" name="Asunto" required>
                    </p>
                    <p class="block">
                        <label>Mensaje</label>
                        <textarea name="Mensaje" rows="3" required></textarea>
                    </p>
                    <p class="block">
                        <button>
                            Enviar
                        </button>
                    </p>
                </form>
            </div>
            <div class="contactInfo">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.3325421131503!2d-64.19344848485217!3d-31.404962781407924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6862cb26435ff85!2sDiscor%3A%20Cerrajer%C3%ADa%20y%20Accesorios!5e0!3m2!1ses!2sar!4v1635110821553!5m2!1ses!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <a href="https://g.page/r/CYX_NWSyLIa2EBA">
                    Lorenzo Barcalá 665. B° San Martín
                </a>
                <h4>Número de
                    Teléfono:
                   +54(351)157638778</h4>
                <h4>Email: <a href="mailto:discor@hotmail.com.ar">
                        discor@hotmail.com.ar</a></h4>
            </div>


           
        </div>

    </main>
    <footer>
        <p>All rights reserved...</p>
    </footer>
    <script src="../scripts/script-loader.js"></script>
    <script src="../scripts/script-resposive.js"></script>
</body>

</html>